.subtitle {
  color: rgb(44, 44, 44);
  text-align: left;
  margin-top: -3px;
  margin-left: 0.1125vw; /* Combats the tiny difference in "left margin" between h1 and h3 elements */
}

.logo {
  margin-left: 0;
  width: 50px;
  height: 50px;
  margin-right: 10px;
}

.imageContainer {
  display: flex;
  flex-direction: column;
  margin-top: auto;
  margin-bottom: auto;
  align-content: center;
}

.linkContainer {
  display: flex;
  flex-direction: row;
}

.titleAndSubtitle {
  display: flex;
  flex-direction: column;
}
